<h1>Bem-vindo a Editora Livros</h1>
<p>
  <%= link_to 'P치gina Autores',authors_path %>
</p>
<p>
  <%= link_to 'P치gina Suplimentos',suppliers_path %>
</p>
<p>
  <%= link_to 'P치gina Livros',books_path %>
</p>
<p>
  <%= link_to 'P치gina Contas',accounts_path %>
</p>
