<%= form_with(model: assembly_part) do |form| %>
  <% if assembly_part.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assembly_part.errors.count, "error") %> prohibited this assembly_part from being saved:</h2>

      <ul>
        <% assembly_part.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
