<h1>Editing assembly part</h1>

<%= render "form", assembly_part: @assembly_part %>

<br>

<div>
  <%= link_to "Show this assembly part", @assembly_part %> |
  <%= link_to "Back to assembly parts", assembly_parts_path %>
</div>
