<p style="color: green"><%= notice %></p>

<h1>Assembly parts</h1>

<div id="assembly_parts">
  <% @assembly_parts.each do |assembly_part| %>
    <%= render assembly_part %>
    <p>
      <%= link_to "Show this assembly part", assembly_part %>
    </p>
  <% end %>
</div>

<%= link_to "New assembly part", new_assembly_part_path %>
