<div id="<%= dom_id assembly %>">
  <p>
    <strong>Name:</strong>
    <%= assembly.name %>
  </p>

  <p>
    <strong>Peças:</strong>
    <%= assembly.part_id %>
  </p>

  <p>
    <strong>Livro:</strong>
    <%= assembly.book.published_at %>
  </p>

</div>
